*
{
    margin:0;
    padding:0;
}

html,body
{
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
.bottomhalf
{
    width:100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    min-height: 80px;
}

#addbook, #removebook
{
    padding: 10px;
    font-size: 30px;
    flex-grow: 0.5;
}

#addbook{background-color: greenyellow;}
#removebook{background-color: red;}

.heading
{
    justify-items: center;
    border-bottom: 2px solid black;
    padding-top: 1rem;
    color: white;
}

.column-names
{
    display: flex;
    justify-content: space-around;
    color:white;
}

.column-1, .column-2, .column-3, .column-4, .column-5
{
    width:25%;
    text-align: center;
}

#container
{
    display: flex;
    flex-grow: 1;
}

#bookslist, #authorlist, #pagelist, #statuslist, #removelist
{
    flex-grow: 1;
    justify-items: center;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    max-width: 20%;
}   

#addbook-dialog
{
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    padding: 3rem;
    text-align: center;
    background-color: greenyellow;
    font-size: larger;
}

#addbook-dialog::backdrop
{
    background-color: black;
    opacity: 0.7;
}

#addbook-dialog h2
{
    margin-bottom: 3rem;
}

#bookname, #authorname, #pagecount
{
    font-size: larger;
    justify-content: center;
}

#radiobut
{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#submit-button, #cancel-button
{
    background-color: red;
    margin-top: 1rem;
    height: 2rem;
    width: 100%;
}

form
{
    display: flex;
    flex-direction: column;
}


/* JS styling */

.basic-styling{
    font-size: 2rem;
    max-height: 5%;
    table-layout: fixed;
    color: red;  
    border: 1px solid white;
    width: 100%;
    text-align: center;
}

.fancytext::first-letter
{
    text-transform:uppercase;

}

.radio-flex
{
    width:100%;
    min-height: 5%;
    max-height: 5%;
    font-size: 2rem;
    text-align:center;
    align-content: space-around;
}

.statuscolor-red
{
    background-color: red;
    border-bottom: 2px solid black;
}

.statuscolor-green
{
    background-color: greenyellow;
    border-bottom: 2px solid black;
}

.button_style
{
    width: 50%;
    height: 1.5rem;
    background-color: white;
    transform: translate(0%,-20%);
    font-size: large;
    
}

.delete-flex
{
    width: 100%;
    max-height: 5%;
    font-size: 2rem;
    background-color: rgb(220, 220, 220);
    border-bottom: 2px solid black;
    justify-items: center;
    text-align: center;
}

